venv/
env/
virtualenv/
pyenv/
*.pyc
*.pyo
*.pyd
__pycache__/
*.pycache
.idea/
.vscode/
.pycharm/
.spyder/
coverage/
htmlcov/
docs/
doc/
dist/
build/
egg-info/
*.log
*.tmp
*.bak
.coverage
coverage.xml
.venv/
.pytest_cache/
*.yaml